#body{
    background-color: aqua;
}
#1d3add{
    color:wheat;
    background-color: forestgreen;
}
#aut{
    color: cornflowerblue;
    background-color: darkmagenta;
}
#tit{
    color: darkgreen;
    background-color: darksalmon;
}
#id{
    color: darkkhaki;
    background-color: deeppink;
}